<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qta.be.dao.mapper.ChargeHistoryMapper">
    <insert id="insertByUserId">
        INSERT INTO charge_history(userId, credit, chatText, answer)
        VALUES (#{userId}, #{credit}, #{chatText}, #{answer})
    </insert>
</mapper>