<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qta.be.dao.mapper.ChatFeedbackMapper">
    <insert id="insertChatFeedback">
        INSERT INTO chat_feedback(chatId, messageId, text, feedback)
        VALUES (#{chatId}, #{messageId}, #{text}, #{feedback})
    </insert>
    <select id="selectById" resultType="com.qta.be.dao.domain.ChatFeedback">
        SELECT *
        FROM chat_feedback
        WHERE chatId = #{chatId}
    </select>
    <select id="selectAllInChatIds" resultType="com.qta.be.dao.domain.ChatFeedback">
        SELECT *
        FROM chat_feedback
        WHERE chatId IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>