<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qta.be.dao.mapper.ProductFeedbackMapper">
    <insert id="insertByUserId">
        INSERT INTO product_feedback(userId, type, content)
        VALUES (#{userId}, #{type}, #{feedback})
    </insert>
</mapper>